@charset "UTF-8";

#listContent, #pagingContent {
	display: flex;
	justify-content: center;
	align-items:center;
}

.basic-table {
	border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  margin : 20px 10px;
}

.basic-table th {
  padding: 10px;
  font-weight: bold;
  vertical-align: middle;
  border: 1px solid #ccc;
}

.basic-table td {
  padding: 10px;
  vertical-align: middle;
  border: 1px solid #ccc;
}

.basic-table tr.record {
	cursor: pointer;
}

#profileImg {
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

#pagingContent > .pointer:not(:last-child) {
	margin-right: 8px;
}

#pagingContent > .pointer.selected {
	color: red;
	font-weight: bold;
}