@charset "UTF-8";

.errMsg {
	color: red;
	font-weight: bold;
}

* {
	padding: 0;
	margin: 0;
}

nav {
	margin: 25px;
	background: #f9f9f9;
  padding: 16px;
}

.menuItems {
	list-style: none;
  display: flex;
}

.menuItems li {
	margin: 20px;
}

.menuItems li a {
	text-decoration: none;
  color: #8f8f8f;
  font-size: 24px;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
  position: relative;
  text-transform: uppercase;
}
