<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.koreait.community.cmt.CmtMapper">
		<insert id="insCmt">
			INSERT INTO t_board_cmt
			(boardPk, seq, writerPk, ctnt)
			SELECT #{boardPk}, IFNULL(MAX(seq), 0)+1, #{writerPk}, #{ctnt}
			FROM t_board_cmt
			WHERE boardPk = #{boardPk}
		</insert>
		
		<select id="selCmtList" resultType="CmtDomain">
			SELECT A.*, B.nm AS writerNm
			FROM t_board_cmt A
			LEFT JOIN t_user B
			ON A.writerPk = B.userPk
			WHERE boardPk = #{boardPk}
			ORDER BY A.seq DESC
		</select>
	
		<update id="updCmt">
			UPDATE t_board_cmt
			SET ctnt = #{ctnt}
			WHERE	boardPk = #{boardPk}
			AND seq = #{seq}
			AND writerPk = #{writerPk}
		</update>
		
		<delete id="delCmt">
			DELETE FROM t_board_cmt
			WHERE boardPk = #{boardPk}
			AND seq = #{seq}
			AND writerPk = #{writerPk}
		</delete>
		
 </mapper>